<% if edit == true %>
  <% action_url = band_url(band) %>
  <% submit_val = "Update band" %>
<% else %>
  <% action_url = bands_url %>
  <% submit_val = "Create band" %>
<% end %>

<form action="<%= action_url %>" method="post">
  <%= auth_token %>

  <% if edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="name">Band name</label>
  <input type="text" name="band[name]" id="name" value="<%= band.name %>">

  <br>

  <input type="submit" value="<%= submit_val %>">

</form>